button
{
    background-color: blueviolet;
    color: aqua;
    font-size:100px;
}
button:hover
{
    background-color: blue;
    color: brown;
    font-size: 30px;
}
button:active
{
    background-color: aqua;
    color: antiquewhite;
    font-optical-sizing: 20px;
}